.nh-btn-header {
  padding: 0.625rem 0 !important;
}

.nh-btn-banner {
  padding: 0.75rem 4rem !important;
}

.nh-btn-footer {
  padding: 0.75rem 2.5rem !important;
}

.nh-btn-article {
  padding: 0.75rem 0 !important;
  margin: 2.25rem !important;
}

.nh-btn-offcanvas {
  padding: 0.75rem 1.5rem !important;
  margin-right: 0.75rem;
}
