.nh-navbar-primary {
  padding: 1.125rem 0 !important;
}

.nh-navbar-secondary {
  padding: 0.75rem 0 !important;
}

.nh-navbar-primary
  > .container-fluid
  > .navbar-collapse
  > .navbar-nav
  > .nav-item
  > .nav-link,
.nh-navbar-secondary
  > .container-fluid
  > .navbar-collapse
  > .navbar-nav
  > .nav-item
  > .nav-link {
  padding: 0.375rem 1.25rem !important;
}
